.bg {
	background-image: url("/img/background.jpg");
}

body {
	background-image: url("/img/patt.png");
	background-color: rgb(35, 35, 35);
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	overflow: auto;
}

p {
	color: rgb(237, 197, 0);
	font-family: STXinwei;
	font-size: 2em;
}

h1 {
	display: inline;
	font-size: 40px;
	font-weight: normal;
}

#logo{
	position: relative;
	top: 20px;
	width: 60px;
	height: 60px;
	margin-left: 20px;
}



li {
	display: inline;
	margin: 10px;
}

a {
	color: rgb(237, 197, 0);
	font-family: STXinwei;
	font-size: 25px;
	text-decoration: none;
}

#menu1 {
	margin-top: 50px;
	margin-left: 550px;
	margin-bottom: 10px;
}

div.hline1{
	height: 1.5px;
	width: 960px;
	background-color: rgb(237, 197, 0);
}

div.hline2 {
	height: 1.5px;
	width: 960px;
	background-color: rgb(237, 197, 0);
}

div.articles {
	width: 960px;
	height: 450px;
}

div.headline {
	width: 580px;
	height: 358px;
	border-radius: 20px;
	margin-left: 22px;
	margin-top: 30px;
	margin-right: 10px;
	margin-bottom: 40px;
	float: left;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.05);
}

.sub1 {
	border-radius: 20px;
	margin-top: 30px;
	margin-right: 10px;
	width: 281px;
	height: 174px;
	float: left;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.05);
}

.sub2 {
	border-radius: 20px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 40px;
	width: 281px;
	height: 174px;
	float: left;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.05);
}

#about {
	margin-left: 0 auto;
	margin-right: 0 auto;
	text-align: center;
}

#text {
	margin: 0px auto;
	text-indent: 4em;
	width: 700px;
	font-size: 11px;
	line-height: 3em;
}

p.intro {
	font-family: Kaiti;
}

.container1 {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.05);
	width: 920px;
	height: auto 0px;
}

.container2 {
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.05);
	width: 920px;
	height: auto 0px;
}

.more {
	font-size: 18px;
	font-family: Kaiti;
	text-decoration: underline;
}

.footer {
	height: 120px;
	background-color: rgba(10, 10, 10, 0.5);
	padding: 10px;
	text-align: center;
}

.menu2 {
	float: left;
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 60px;
}

li.other {
	display: none;
}

#menu2list {
	padding: 0px;
	text-align: left;
	list-style-type: circle;
}

.sublist {
	font-size: 18px;

}

#logobottom {
	margin-left: 30px;
	height: 120px;
	width: 120px;
}

#head {
	position: relative;
	top: 15px;
	max-width: 560px;
	height: 330px;
	box-shadow: inset 0 0 10px rgb(10, 10, 10);
}

.description {
	width: 560px;
	height: 35px;
	background-color: rgba(255, 255, 255, 0.3);
	position: relative;
	bottom: 30px;	
	left: 11px;
	font-family: Kaiti;
	color: white;
	text-indent: 1em;
	text-align: left;
	padding-top: 5px;
}

.description1, .description2 {
	font-family: Kaiti;
	font-size: 18px;
	color: white;
	position: relative;
	left: 11px;
	bottom: 12px;
	width: 260px;
	height: 21px;
	background-color: rgba(255, 255, 255, 0.3);
	text-indent: 1em;
	text-align: left;
}

#subhead1 {
	max-width: 260px;
	position: relative;
	top: 15px;
}

#subhead2 {
	max-width: 260px;
	position: relative;
	top: 15px;
}

#update {
	float: right;
	font-family: Kaiti;
	font-size: 20px;
	color: white;
}